################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RMT-Stratum-Ping/obj/Debug
/RMT-Stratum-Ping/bin/Debug
